<%- include('partials/main/head')%>
    <%- include('partials/main/header')%>



        <div class="hero">
            <div class="container">
                <div class="hero-text">
                    <h3> Who is your favorite? </h3>
                    <button> vote </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="row">
                    <img src="" alt="">
                </div>
            </div>
        </div>


        <div class="container">
            <ul>
                <li></li>
                <li></li>
            </ul>

            <ul>
                <li>

                </li>
            </ul>
        </div>

        <%- include('partials/main/footer') %>